# Prerequisites
*.d
compile_commands.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
bin

# Local files
.vs
.vscode
*.sln
*.slnx
*.vcxproj*
*.user
*.DS_Store
**/Makefile
